# dotfiles
*.rar
*.sublime-*
*.zip
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
# folders
node_modules
experimental
vendor
temp
tmp
# logs
npm-debug.log
# Always-ignore files
TODO.md
test
bower.json
.jshintrc
.editorconfig
.gitignore